<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel='stylesheet' href='stylesheets/css/weui.css' />
    <link rel='stylesheet' href='stylesheets/css/weuix.css' />
    <script src="javascripts/zepto.min.js"></script>
    <script src="javascripts/zepto.weui.min.js"></script>


  </head>
  <body ontouchstart>
    
    <form name="form_order" method = "post" action = "http://www.vtuanba.cn/order/confirm" >
      
      <div class="weui-cells weui-cells_form">
        

          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">地址</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="select_addr" name="select_addr">
                  <%  addrs = ["4号楼", "9号楼", "乐天玛特"] %>
                  <%  index = 1 %>
                  <% for(var addr in addrs){ %>
                      <option value = <%= index %> >
                      <%= addrs[addr] %>
                      <% index = index + 1%>
                      </option>
                  <% } %>
                    
                </select>
            </div>
          </div>


          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">姓名</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="select_name" name="select_name">
                    
                </select>
            </div>
          </div>

          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">餐类型</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="select_category" name="select_category">

                </select>
            </div>
          </div>

          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">快餐数</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="food_num" name="food_num" pattern="[0-9]*" placeholder="请输入米饭数量" type="number" value=0>
            </div>
          </div>
        

          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">米饭数</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="rice_num" name="rice_num" pattern="[0-9]*" placeholder="请输入米饭数量" type="number" value = 0>
            </div>
          </div>
        

        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">馒头数</label></div>
          <div class="weui-cell__bd">
              <input class="weui-input" id="mantou_num" name="mantou_num" pattern="[0-9]*" placeholder="请输入馒头数量" type="number" value = 0>
          </div>
        </div>

        <div class="weui-btn-area">
          <a class="weui-btn weui-btn_primary" href="javascript:" id="btn">确定</a>
        </div>
        <div class="weui-btn-area">
          <a class="weui-btn weui-btn_primary" href="http://www.vtuanba.cn/order/getlist" id="btncheck">查看列表</a>
        </div>
           
  
      </div>
    </form>

    <script type="text/javascript">

      function construct_name_opt(index) {
        var names = [
         ['阮老板', '王老板', '小安', '空调', '木门', '苏师傅', '安老板','王庆伟','老虎','于老板','刘老板 六楼'],
         ['狂人', '毛老板', '我住隔壁', '扬子', '李老板', '王永辉','吴富平', '蒋存住', '结晶王老板', '刘月虎'],
         ['顺其自然', '外立面', '刘世宏', '肯德基', '海浪', '安乃近', '马兵', '张建', '周泽宇', '听雨','涛声依旧','奋斗一生','思念想念','其他', '锋', '快乐', '春园', '林宇安装','张河','开拓']
         ];
          var name_opts = names[index];
          $("#select_name").empty();
          for ( var name of name_opts) {
            var option = $("<option>").val(name).text(name);
            $("#select_name").append(option);
          }
      }

     $(function(){

      
      var addrs = ["4号楼", "9号楼", "乐天玛特"];


      var category = ["1荤1素", "2荤1素"];
      index = 1;
      $("#select_category").empty();
      for(var cat of category){
        
        var option = $("<option>").val(index).text(cat);
        $("#select_category").append(option);   
        index++;    
      }

      $("#select_addr").change(function(){
          var index = $("#select_addr").val();
          console.log(index);
          construct_name_opt(index - 1);
          
      });

      $("#btn").click(function(){
        var confirmdata = addrs[$("#select_addr").val()-1] + $("#select_name").val() + "<br>"
            + category[$("#select_category").val() - 1] + $("#food_num").val() + "份<br> "
            + "\n米饭" + $("#rice_num").val() + "份<br>"
            +  "馒头" + $("#mantou_num").val() + "份";
        $.confirm( confirmdata, "正确提交?", function() {
                    $("form[name='form_order']").submit();
                    $.toast("提交成功!");
                }, function() {
                    //取消操作
                });
      });

      construct_name_opt($("#select_addr").val() -1  );


    });

    </script>
  </body>
</html>